@font-face {
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.googleapis.com/css?family=Arsenal');
}

body {
	background-image: url(../img/etoiles-grandes.png), url(../img/etoiles-petites.png), url(../img/violet.png), url(../img/vert.png);
    background-repeat: repeat-x;
    background-position: 900px 0;
    background-color: #341977;
    color: #292926;
}


#fond {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

	/* Partie header */

header {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

header h1 {
	padding-top: 1%;
	color: white;
	font-size: 125%;
	font-family: 'Arsenal', sans-serif;
}

nav {
	width: 100%;
	float: right;
	position: absolute;
	text-align: center;
	font-family: 'Arsenal', sans-serif;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav li {
	color: white;
	font-size: 100%;
}

nav a:hover {
	background: rgba(255, 255, 255, 0.15);
	border-radius:45px 45px;
	transition: opacity 0.3s;
	padding: 7% 15%;
}


nav a {
	text-decoration: none;
	color: white;
}

#logo {
	padding-left: 10%;
	padding-top: 0.5%;
	width: 5%;
	float: left;
	position: relative;
}


#logo img:hover{
	transition: transform 0.6s;
	-webkit-transform:rotate(360deg); 
 	-moz-transform:rotate(360deg);
 	-o-transform:rotate(360deg); 
 	-ms-transform:rotate(360deg); 
  	transform:rotate(360deg);
}

  /* Fin de la partie header */
	/* Partie principale */

#content {
	background: url(../img/neige.jpg) no-repeat;
	background-size: cover; 
	border-radius: 2%;
	min-height: 110em;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	position: relative;
}

#haut {
	width: 100%;
	min-height: 9em;
}

#texte {
	width: 65%;
	float: left;
	position: relative;
}

#texte h2 {
	padding-top: 1%;
	padding-left: 8%;
	font-size: 210%;
	font-family: 'Arsenal', sans-serif;
	font-weight: normal;
	position: relative;
}

#chiffre {
	width: 27%;
	float: right;
	padding-left: 8%;
}

#chiffre h3 {
	float: left;
	margin-left: 0.5%;
	color: white;
	background-color: #42423C;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 4%;
	padding-right: 4%;
	border-radius: 10%;
	font-size: 190%;
	position: relative;
	margin-bottom: 2%;
}

#tonnes p {
	float: left;
	margin: 0 0;
	font-size: 90%;
	position: relative;
	margin-left: 13%;
}

#milieu {
	width: 100%;
	background: rgba(97, 59, 153, 0.7);
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 3%;
	text-align: center;
}

#milieu img {
	max-width: 16%;
	background: #673FA3;
	padding: 1%;
}

#milieu a img {
	background: none;
	width: 6%;
	position: absolute;
	padding-top: 3%;
	padding-left: 4.5%;
}

#precedent {
	float: left;
}

#precedent #fleche1 {
	width: 5%;
}

#precedent img {
	margin-left: -7%;
}


#suivant {
	float: right;
}

#suivant #fleche2 {
	width: 5%;
}

#suivant img {
	margin-left: -7%;
}

#plast:hover {
	transform: scale(1.25);
    transition-duration: 0.2s;
}

#megot:hover {
	margin-left: 15px;
    transform: scale(1.20);
    transition-duration: 0.2s;
}

#coton:hover {
	transition-duration: 0.2s;
    margin-left: 15px;
}

#bouteille:hover {
	transform: rotate(-15deg);
    transition-duration: 0.2s;
}

#parasol:hover {
	opacity: 0.25;
    transition-duration: 0.4s;
}


#bas {
	width: 60%;
	min-height: 25em;
	float: left;
	padding-left: 5%;
}

.bleu {
	color: #006bb3;
}

#news {
	width: 90%;
	position: relative;
	font-family: 'Arsenal', sans-serif;
}

#news h3 {
	font-size: 130%;
	font-weight: normal;
}

#news h4 {
	font-size: 125%;
}

#news p {
	font-size: 110%;
}

#droit {
	width: 20%;
	float: right;
}

#coter {
	float: left;
	width: 35%;
	position: relative;
	font-family: 'Arsenal', sans-serif;
}

#poids {
	width: 80%;
	float: left;
	position: relative;
	margin-bottom: 8%;
}

#poids ul li {
	width: 87%;
	list-style: none;
	background: #f5f5ef;
	padding: 6%;
	border-radius: 5%;
	border: solid 1px #ebebe0;
	height: 0.7em;
}

#poids ul {
	padding: 0 0;
	margin: 0 0;
	border: solid 2px #A8A8A0;
	border-radius: 3%;
}

#poids ul li:hover {
	background: #c8b6e2;
}

.premier {
	height: 27%;
	width: 50%;
	float: left;
}

.premier:hover {
	color: white;
}

.poids a {
	width: 20%;
	font-size: 80%;
	text-decoration: none;
	color: black;
	position: relative;
	margin-left: 10%;
	text-align: right;
}

.poids img {
	width: 18%;
	float: right;
	position: relative;
	margin-left: 8%;
}

.poids {
	width: 50%;
	float: left;
	text-align: right;
	margin: 0 0;
	padding: 0 0;
	position: relative;
}

.poids:hover {
	position: relative;
	font-size: 105%; 
	opacity: 0.50;
}

#poids h3 {
	font-weight: normal;
}

#blocs {
	width: 90%;
	position: relative;
	font-size: 90%;
	min-height: 18em;
	color: #595953;
}

#bloc1 {
	width: 27%;
	float: left;
	border-right: solid 1px black;
	position: relative;
	padding-left: 2%;
	padding-right: 2%;
}

#bloc2 {
	padding-left: 2%;
	width: 27%;
	float: left;
	position: relative;
	padding-right: 2%;
}

#bloc3 {
	width: 27%;
	float: left;
	padding-left: 3%;
	position: relative;
	border-left: solid 1px black;
}

#february {
	float: left;
}

#mer {
	width: 90%;
	padding-top: 3%;
	float: left;
	position: relative;
	font-family: 'Arsenal', sans-serif;
}

#mer h4 {
	font-size: 115%;
}

#mer p {
	font-size: 110%;
}

#paragraphe {
	width: 85%;
	font-size: 90%;
	padding: 3%;
	float: left;
	position: relative;
	font-family: 'Arsenal', sans-serif;
	color: #595953;
}

#date {
	color: #595953;
	font-size: 90%;
}

#newsletter {
	width: 75%;
	margin-right: 15%;
	position: relative;
	float: left;
	background:  #c8b6e2;
	padding: 4%;
	text-align: center;
	border-radius: 5%;
}

#newsletter p {
	text-align: left;
	margin-bottom: 0;
}

#newsletter input {
	width: 96%;
	border-radius: 10px;
}

#newsletter input:focus {
	box-shadow: 0px 5px 10px  black;
}

#newsletter:focus-within input {
	box-shadow: 0px 5px 10px  black;
}

#newsletter button {
	margin-top: 7%;
	border-radius: 7%;
	-moz-border-radius:15px 15px;
	-webkit-border-radius:15px 15px;
	border-radius:15px 15px;
	height: 2.2em;
	width: 7em;
	font-size: 90%;
	color: black;
}

/* Selection Firefox */
::-moz-selection {
  background-color: #800080;
  color: white;
}

::selection {
  background-color: #800080;
  color: white;
}

  /* Fin de la partie de la principale */
  			/* Partie footer */

footer {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#footer {
	width: 100%;
	font-family: 'Arsenal', sans-serif;
}

#footer p {
	text-align: center;
	color: white;
}

#footer img {
	opacity: 0.25;
}

#footer img:hover{
	opacity: 0.50;
	transition: opacity 0.2s;
}



  /* PARTIE RESPONSIVE */

@media screen and (min-width: 879px) and (max-width: 1473px) {
	#logo {
		margin-right: 4%;
		position: relative;

	}

	nav {
		position: relative;
		width: 100%;
	}

	#texte {
		width: 100%;
		font-size: 80%;
		position: relative;
		float: left;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	#bloc1 {
		width: 100%;
		border: none;
	}

	#bloc2 {
		width: 100%;
		border: none;
	}

	#bloc3 {
		width: 100%;
		border: none;
	}

	#poids a {
		display: none;
	}

	.poids {
		width: 30%;
	}

	.premier {
		width: 70%;
	}

	#chiffre {
		margin-left: 3%;
		width: 100%;
		float: left;
		position: relative;
	}

	#chiffre p {
		margin-left: 20%;
		float: left;
	}

	#milieu {
		float: left;
		position: relative;
	}

	#content {
		position: relative;
		float: left;
	}

	footer {
		width: 40%;
		position: relative;
		margin-right: auto;
		margin-left: auto;
	}

	#footer {
		position: relative;
	}
}

@media screen and (min-width: 614px) and (max-width: 879px) {
	#logo {
		margin-right: 7%;
		position: relative;

	}

	nav {
		position: relative;
		width: 100%;
	}

	nav ul {
		padding: 0 7px;
	}

	#texte {
		width: 100%;
		font-size: 80%;
		position: relative;
		float: left;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	#chiffre {
		width: 80%;
		position: relative;
		float: left;
		font-size: 80%;
	}

	#chiffre p {
		float: left;
	}

	#milieu {
		position: relative;
		float: left;
	}

	#poids a {
		display: none;
	}

	.poids {
		width: 30%;
	}

	.premier {
		width: 70%;
	}

	#content {
		width: 100%;
		position: relative;
		float: left;
	}

	#bloc1 {
		width: 100%;
		border: none;
	}

	#bloc2 {
		width: 100%;
		border: none;
	}

	#bloc3 {
		width: 100%;
		border: none;
	}

	footer {
		width: 70%;
		position: relative;
		margin-right: auto;
		margin-left: auto;
	}

	#footer {
		position: relative;
	}
}


@media screen and (min-width: 305px) and (max-width: 614px) {

	#fond {
		width: 100%;
		display: block;
	}

	header {
		width: 100%;
	}

	#logo {
		width: 100%;
	}

	#logo {
		text-align: center;
		position: relative;
		padding: 0 0;
	}

	header h1 {
		font-size: 90%;
		text-align: center;
	}

	nav {
		position: relative;
		width: 100%;
	}

	nav ul {
		padding: 0 7px;
	}

	#texte {
		width: 100%;
		font-size: 60%;
		position: relative;
		float: left;
		margin: 0 0;
		padding: 0 0;
		text-align: center;
	}

	#chiffre {
		width: 100%;
		float: left;
		position: relative;
	}

	#chiffre p {
		float: left;
	}

	#milieu {
		float: left;
		position: relative;
	}

	#milieu img {
		width: 100%;
	}

	#content {
		width: 100%;
		position: relative;
		float: left;
	}
	
	#news {
		width: 90%;
		display: block;
		float: left;
		position: relative;
	}

	#mer {
		width: 90%;
		display: block;
		float: left;
		display: block;
	}

	#bas {
		width: 100%;
		position: relative;
		display: block;
	}

	#bloc1 {
		width: 100%;
		border: none;
	}

	#bloc2 {
		width: 100%;
		border: none;
	}

	#bloc3 {
		width: 100%;
		border: none;
	}

	#coter {
		width: 100%;
		position: relative;
		display: block;
		float: left;
		margin-right: auto;
		margin-left: auto;
	}

	#poids {
		width: 95%;
		position: relative;
		float: left;
	}

	#poids ul li {
		width: 90%;
		margin-left: 1.5%;
	}

	.poids {
		width: 50%;
	}

	.premier {
		width: 50%;
	}

	#newsletter {
		margin-left: 1.5%;
		width: 90%;
	}

	footer {
		width: 70%;
		position: relative;
		margin-right: auto;
		margin-left: auto;
	}

	#footer {
		position: relative;
	}
}

